body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f8f9fa; /* Color de fondo */
}

center {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh; /* Centrar en la pantalla */
}

.container {
    max-width: 800px; /* Ancho máximo del contenido */
    padding: 20px;
}

header {
    text-align: center;
    background-color: #343a40; /* Color de fondo del encabezado */
    color: #ffffff; /* Color del texto */
    padding: 15px;
}

header h1 {
    margin-bottom: 20px;
}

input[type="text"] {
    padding: 10px;
    width: 732px;
}

button {
    padding: 10px;
    background-color: #007bff; /* Color del botón */
    color: #ffffff; /* Color del texto del botón */
    border: none;
    cursor: pointer;
}

button:hover {
    background-color: #0056b3; /* Cambio de color al pasar el ratón sobre el botón */
}

hr {
    border: 1px solid #dee2e6; /* Línea horizontal */
}

section {
    margin-top: 20px;
}

label {
    display: block;
    margin-bottom: 5px;
}

img#imgPortada {
    max-width: 200px; /* Tamaño máximo de la imagen */
    max-height: 200px;
    align-items: center;
    justify-self: center;
    
}

#dvReseña {
    margin-top: 10px;
}

nav {
    margin-top: 10px;
}

/* Agrega más estilos según sea necesario */
